html::-webkit-scrollbar {
    width: 12px; 
  }

  /*Changes the background of the scrollbar */
html::-webkit-scrollbar-track {
  background-color: rgb(238, 235, 235);
  }
  /*Changes the scrollbar color*/

  html::-webkit-scrollbar-thumb {
  background: rgb(49, 139, 49);
  border-radius: 25px;
  }

 
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}
nav {
    margin: 0;
    padding: 1em;
    background-color: #f1f1f1;
    text-align: center;
}
nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #333;
}
section {
    padding: 2em;
}
footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
